@model PagedList<Yj.Models.ls_role>
@using Webdiyer.WebControls.Mvc;
<div id="gridTable">
    <table class="table table-border table-bordered table-bg">
        <thead>
            <tr>
                <th scope="col" colspan="9">权限列表</th>
            </tr>
            <tr class="text-c">
                <th width="25">
                    <input type="checkbox" name="" value=""></th>
                <th>代号</th>
                <th>权限名</th>
                <th width="160">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Yj.Models.ls_role role in Model)
            {
                <tr class="text-c">
                    <td>
                        <input type="checkbox" value="@role.role_id" name="">
                    </td>
                    <td>@role.role_code</td>
                    <td>@role.role_name</td>
                    <td>
                        <a href="javascript:;" onclick="edit_role('编辑权限','/Role/EditRole?role_id=@role.role_id','800','260')"><i class="Hui-iconfont" title="编辑"></i></a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;<a id="delete" href="javascript:del_role('@role.role_id');"><i class="Hui-iconfont" title="删除"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.AjaxPager(Model,
    new PagerOptions
    {
        Id = "pager",
        CssClass = "pager",
        PageIndexParameterName = "page",
        ShowPageIndexBox = true,
        FirstPageText = "首页",
        PrevPageText = "上一页",
        NextPageText = "下一页",
        LastPageText = "末页",
        PageIndexBoxType = PageIndexBoxType.TextBox,
        PageIndexBoxWrapperFormatString = "请输入页数{0}",
        GoButtonText = "转到"
    },
    new AjaxOptions
    {
        HttpMethod = "Post",
        UpdateTargetId = "gridTable"
    })
</div>
