@model Yj.Models.ls_user
@{
    ViewBag.Title = string.Format("修改用户密码 - {0}", Yj.Common.Config.WebTitle);
}
<div class="page-container">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form form-horizontal", id = "form-article-add" }))
    {
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.HiddenFor(m => m.user_id)
                @Html.TextBoxFor(m => m.user_name, new { @class = "input-text", style = "width: 360px" })
                @Html.ValidationMessageFor(m => m.user_name)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>旧密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(m => m.user_old_password, new { @class = "input-text", style = "width: 360px" })
                @Html.ValidationMessageFor(m => m.user_old_password)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.PasswordFor(m => m.user_password, new { @class = "input-text", style = "width: 360px" })
                @Html.ValidationMessageFor(m => m.user_password)
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>确认密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.PasswordFor(m => m.user_confirm_password, new { @class = "input-text", style = "width: 360px" })
                @Html.ValidationMessageFor(m => m.user_confirm_password)
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onclick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 确定</button>
                <button onclick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="/Content/lib/micro/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Content/lib/micro/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var user_id = '@HttpContext.Current.Request["user_id"]';

        if (!isNullOrEmpty(user_id)) {
            // 编辑
            $('#UserName').attr('readonly', 'readonly');
        }
    });
</script>
